article.showcase {
  transition: 
      box-shadow .5s,
      background .5s;

  // height: 100%;

  @supports (display: grid) {
    display: grid;
    grid-template-areas:
      ' header header '
      ' figure collection '
      ' content collection '
      ' footer footer ';
    grid-template-columns: auto 1fr;
    grid-template-rows: min-content minmax(0, 10em) 1fr mincontent ;
  }

  > * {
  }

  > .collection {
    grid-area: collection;
    font-size: .8em;

    > header {
      display: flex;
      justify-content: space-between;

      nav {
        display: none;
      }
    }

    > article {
      display: flex;
      flex-flow: column nowrap;
      margin: 0;
      padding: 0;

      > .content {
        display: none;
      }
      > footer {
        display: none;
      }
    }
  }
    
  > figure {
    grid-area: figure;
    width: auto;
    height:100%;

    > img {
      object-fit: cover;
    }

    &:empty {
      display: none;
    }
  }

  > header {
    grid-area: header;
    > h1 {
    }
  }

  > .content {
    grid-area: content;
  }
  
  > footer {
    grid-area: footer;
    z-index: 10;
  }

  .article-share {
    display: none;
  }

}
