.showcase {
  // position: relative;
  display: grid;
  grid-template-rows: " auto 1fr auto ";
  grid-template-areas:
      " showcase_header "
      " showcase_article "
      " showcase_footer ";
  
  > header {
    grid-area: showcase_header;
  }

  > article {
    grid-area: showcase_article;
    opacity: 0;
    transition: opacity .5s;

    &.show {
      opacity: 1;
    }

    > figure {
      > figcaption {
        display: none;
      }
    }

    > header {
    }

    > footer {
      .article-share,
      .article-tags,
      .sibling {
        display:none;
      }
    }
  }

  > footer {
    grid-area: showcase_footer;
  }
}
