@charset "UTF-8";
/* photon ✴ home Components and Templates */
/* articles/home *****************************/
/* sections/home *****************************/
.featured { padding: 0; margin: 0; display: grid; grid-template-columns: repeat(auto-fit, minmax(var(--col), 1fr)); overflow: auto; }
.featured > * { margin: var(--fitz); padding: var(--fitz); }
.featured > h1 { grid-column: 1 / -1; letter-spacing: .25em; padding-left: .25em; text-align: center; text-transform: uppercase; }
.featured > article { /* article-banner */ }
.featured > article > figure { max-height: 9em; padding: var(--fitz); }
.featured > article > figure > img { height: 100%; object-position: center; }
.featured > article > header { text-align: left; display: block; }
.featured > article > header > * { text-align: left; margin-left: 0; }
.featured > article > .content { text-align: left; margin: 0; }
.featured > article > .content .summary { text-align: left; }
.featured > article > .content .summary > ul { list-style: disc; text-align: left; margin: 0; margin-left: 1em; padding: 0; }
.featured > article > .content .summary > ul li::after { display: none; }
.featured > article > footer { flex-flow: row wrap; justify-content: space-between; }
.featured > article > footer > aside { padding: 0; }
.featured > article > footer > aside > h1 { display: none; }
.featured > article > footer > nav { padding: 0; justify-content: flex-end; }
@media (min-width: 54em) { @supports (display: grid) { .featured > article { display: grid; grid-template-areas: ' figure header ' ' figure content ' ' figure footer'; grid-template-columns: calc(var(--col) / 2) 1fr; grid-template-rows: auto 1fr auto; } } }

/* sections/home *****************************/
.showcase { position: relative; display: block; }
.showcase > article { position: absolute; top: 0; bottom: 0; right: 0; left: 0; opacity: 0; transition: opacity .5s; }
.showcase > article.show { opacity: 1; }
.showcase > article > figure > figcaption { display: none; }
.showcase > article > footer .article-share, .showcase > article > footer .article-tags, .showcase > article > footer .sibling { display: none; }

/* templates/home *****************************/
body.home > .showcase { margin: var(--fitz); padding: 0; min-height: calc(100vh - var(--header-height) - (var(--fitz-2) * 3)); }
body.home > .welcome { margin: var(--fitz); }
body.home > .featured { margin: var(--fitz); }
body.home > main > .collection { color: var(--color-2-light); }
@media (min-width: 72em) { @supports (display: grid) { body.home { display: grid; grid-template-areas: "  header   showcase " "  asides   featured " "  asides   welcome " "  asides   main   " "  asides   footer   "; grid-template-rows: calc(100vh - var(--fitz-2)); }
    body.home > .showcase { grid-area: showcase; height: calc(100vh - 2em); }
    body.home > .featured { grid-area: featured; } } }
@media (min-width: 90em) { @supports (display: grid) { body.home { display: grid; grid-template-areas: "  header   showcase featured" "  asides   welcome welcome" "  asides   main   main" "  asides   footer   footer"; grid-template-rows: calc(100vh - var(--fitz-2)); grid-template-columns: var(--col) 2fr 1fr; }
    body.home > main { flex-flow: column; }
    body.home > main > article { padding-bottom: 1em; }
    body.home > main > .collection { width: 100%; display: grid; grid-template-columns: repeat(auto-fit, minmax(36em, 1fr)); }
    body.home > main > .collection > h1 { grid-column: 1 / -1; }
    body.home > main > .collection > .excerpt { /* article-banner */ }
    body.home > main > .collection > .excerpt > figure { max-height: 9em; padding: var(--fitz); }
    body.home > main > .collection > .excerpt > figure > img { height: 100%; object-position: center; }
    body.home > main > .collection > .excerpt > header { text-align: left; display: block; }
    body.home > main > .collection > .excerpt > header > * { text-align: left; margin-left: 0; }
    body.home > main > .collection > .excerpt > .content { text-align: left; margin: 0; }
    body.home > main > .collection > .excerpt > .content .summary { text-align: left; }
    body.home > main > .collection > .excerpt > .content .summary > ul { list-style: disc; text-align: left; margin: 0; margin-left: 1em; padding: 0; }
    body.home > main > .collection > .excerpt > .content .summary > ul li::after { display: none; }
    body.home > main > .collection > .excerpt > footer { flex-flow: row wrap; justify-content: space-between; }
    body.home > main > .collection > .excerpt > footer > aside { padding: 0; }
    body.home > main > .collection > .excerpt > footer > aside > h1 { display: none; }
    body.home > main > .collection > .excerpt > footer > nav { padding: 0; justify-content: flex-end; }
    @media (min-width: 54em) { @supports (display: grid) { body.home > main > .collection > .excerpt { display: grid; grid-template-areas: ' figure header ' ' figure content ' ' figure footer'; grid-template-columns: calc(var(--col) / 2) 1fr; grid-template-rows: auto 1fr auto; } } }
    body.home > .featured { flex-flow: column; } } }

/*# sourceMappingURL=home.css.map */
