@charset "UTF-8";
/* photon ✴ home Components and Templates */
/* articles/home *****************************/
article.home {
  position: relative;
}

/* templates/home *****************************/
body.home > .showcase {
  display: grid;
  grid-template-areas: " showcase_header " " showcase_article " " showcase_footer ";
  grid-template-rows: auto 1fr auto;
}
body.home > .showcase > header {
  grid-area: showcase_header;
}
body.home > .showcase > header > h1 {
  font-size: 1rem;
}
body.home > .showcase > article {
  grid-area: showcase_article;
  opacity: 0;
  transition: opacity 0.5s;
  grid-template-areas: " header " " figure " " content " " data " " footer ";
  grid-template-columns: auto;
  grid-template-rows: min-content minmax(0, 10em) 1fr auto auto;
}
body.home > .showcase > article.show {
  opacity: 1;
}
body.home > .showcase > article > figure > figcaption {
  display: none;
}
body.home > .showcase > article > footer .article-share,
body.home > .showcase > article > footer .article-tags,
body.home > .showcase > article > footer .sibling {
  display: none;
}
body.home > .showcase > article.calendar > figure {
  display: none;
}
body.home > .showcase > footer {
  grid-area: showcase_footer;
}
body.home > .featured {
  padding: 0;
  margin: 0;
  overflow: auto;
}
body.home > .featured > * {
  margin: var(--fitz);
  padding: var(--fitz);
}
body.home > .featured > header > h1 {
  grid-column: 1/-1;
  letter-spacing: 0.25em;
  padding-left: 0.25em;
  text-align: center;
  text-transform: uppercase;
}
body.home > .featured > article {
  /* article-banner */
}
body.home > .featured > article > figure {
  max-height: 9em;
  padding: var(--fitz);
}
body.home > .featured > article > figure > img {
  height: 100%;
  object-position: center;
}
body.home > .featured > article > header {
  padding: var(--fitz);
  text-align: left;
  display: block;
}
body.home > .featured > article > header > * {
  text-align: left;
  margin-left: 0;
}
body.home > .featured > article > .content {
  text-align: left;
  margin: 0;
}
body.home > .featured > article > .content .summary {
  text-align: left;
}
body.home > .featured > article > .content .summary > ul {
  list-style: disc;
  text-align: left;
  margin: 0;
  margin-left: 1em;
  padding: 0;
}
body.home > .featured > article > .content .summary > ul li::after {
  display: none;
}
body.home > .featured > article > footer > aside {
  padding: 0;
}
body.home > .featured > article > footer > aside > h1, body.home > .featured > article > footer > aside h2 {
  display: none;
}
body.home > .featured > article > footer > nav {
  padding: 0;
}
body.home > .showcase {
  margin: var(--fitz);
  padding: var(--fitz);
}
body.home > .featured {
  margin: var(--fitz);
  padding: var(--fitz);
}
@media (orientation: landscape) {
  body.home {
    display: grid;
    grid-template-areas: "  header   showcase " "  asides   featured " "  asides   main   " "  asides   footer   ";
  }
  body.home > .showcase {
    grid-area: showcase;
  }
  body.home > .featured {
    grid-area: featured;
  }
}
@media (min-width: 72em) and (orientation: landscape) {
  body.home {
    display: grid;
    grid-template-areas: "  header   showcase asides" "  footer   featured asides" "  footer   main   asides";
    grid-template-rows: calc(100vh - var(--fitz-2));
    grid-template-columns: var(--col) 1fr var(--col);
  }
  body.home > main {
    flex-flow: column;
  }
  body.home > main > article {
    padding-bottom: 1em;
  }
  body.home > main > .collection {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(36em, 1fr));
  }
  body.home > main > .collection > h1 {
    grid-column: 1/-1;
  }
  body.home > main > .collection > .excerpt {
    /* article-banner */
  }
  body.home > main > .collection > .excerpt > figure {
    max-height: 9em;
    padding: var(--fitz);
  }
  body.home > main > .collection > .excerpt > figure > img {
    height: 100%;
    object-position: center;
  }
  body.home > main > .collection > .excerpt > header {
    padding: var(--fitz);
    text-align: left;
    display: block;
  }
  body.home > main > .collection > .excerpt > header > * {
    text-align: left;
    margin-left: 0;
  }
  body.home > main > .collection > .excerpt > .content {
    text-align: left;
    margin: 0;
  }
  body.home > main > .collection > .excerpt > .content .summary {
    text-align: left;
  }
  body.home > main > .collection > .excerpt > .content .summary > ul {
    list-style: disc;
    text-align: left;
    margin: 0;
    margin-left: 1em;
    padding: 0;
  }
  body.home > main > .collection > .excerpt > .content .summary > ul li::after {
    display: none;
  }
  body.home > main > .collection > .excerpt > footer > aside {
    padding: 0;
  }
  body.home > main > .collection > .excerpt > footer > aside > h1, body.home > main > .collection > .excerpt > footer > aside h2 {
    display: none;
  }
  body.home > main > .collection > .excerpt > footer > nav {
    padding: 0;
  }
}

/*# sourceMappingURL=home.css.map */
