//default - mobile first

body.home {

  @import 'showcase';
  @import 'featured';

  > .showcase {
    // @extend %body-section-default;
    margin: var(--fitz);
    padding: var(--fitz);

    // set to height of the screen - header and margins
    // min-height: calc(100vh - var(--header-height) - (var(--fitz-2) * 3));
  }


  > .featured {
    // @extend %body-section-default;
    // margin: var(--fitz);
    margin: var(--fitz);
    padding: var(--fitz);
  }


  @media (orientation: landscape) {
    display: grid;
    grid-template-areas:
      "  header   showcase "
      "  asides   featured "
      "  asides   main   "
      "  asides   footer   ";
    // grid-template-rows:  calc(100vh - var(--fitz-2)) ;

    > .showcase {
      grid-area: showcase;

      // height: calc(100vh - 2em);
    }

    > .featured {
      grid-area: featured;
    }

  }

  @media (min-width: 72em) {
    @media (orientation: landscape) {
      display: grid;
      grid-template-areas:
        "  header   showcase asides"
        "  footer   featured asides"
        "  footer   main   asides";
      grid-template-rows:  calc(100vh - var(--fitz-2)) ;
      grid-template-columns: var(--col) 1fr var(--col);

      > main {
        flex-flow: column;

        > article {
          padding-bottom: 1em;
        }

        > .collection {
          width: 100%;
          display: grid;
          grid-template-columns: repeat( auto-fit, minmax( 36em, 1fr ) );

          > h1 {
            grid-column: 1 / -1;
          }

          > .excerpt {
            @include article-banner;
          }
        }
      }

      > .featured {
        // flex-flow: column;
      }
    }
  }
}
