> .showcase {
  // position: relative;
  display: grid;
  grid-template-areas:
      " showcase_header "
      " showcase_article "
      " showcase_footer ";
  grid-template-rows:  auto calc(100vh-10em) auto ;
  
  > header {
    grid-area: showcase_header;
    > h1 {
      font-size: 1rem;
    }
  }


  > article {
    grid-area: showcase_article;
    opacity: 0;
    transition: opacity .5s;

    &.show {
      opacity: 1;
      z-index: 2;
    }

    > figure {
      > figcaption {
        display: none;
      }
    }

    > header {
    }

    > .collection {
      overflow: scroll;
    }
    > footer {
      .article-share,
      .article-tags,
      .sibling {
        display:none;
      }
    }

    &.calendar {
      > figure {
        display: none;
      }
    }
  }

  > footer {
    grid-area: showcase_footer;
  }
}
